/* login page css */
body
{
    margin: 0px;
    padding: 0px;
    background: url(backlog.jpg) no-repeat;
    background-size: cover;

}

.sign-in-form
{
    width: 300px;
    padding: 20px;
    text-align: center;
    background: rgba(101,102,114,0.7);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
    border-radius: 0.5px;
}

.sign-in-form img
{
    width: 50%;
    height: 50%;
}
.sign-in-form input
{
    display: block;
    width: 100%;
    padding-left: 10px;
    height: 44px;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-family: 'Ubuntu',sans-serif;
    font-size: 14px;
}

.txt
{
    margin: 20px 0px;
    border-radius: 0.5px;
    
}

.btn1
{  
    margin-top: 20px 0px;
    border-radius: 20px;
    background: #487eb0;
    color: #fff;
    border-radius: 40px;
    cursor:pointer;
    transition: 0.8s;

}

.btn1:hover
{
    transform:scale(0.96);
}

#btn
{  
    
    margin-top: 20px 0px;
    border-radius: 20px;
    background: #487eb0;
    color: #fff;
    border-radius: 40px;
    cursor:pointer;
    transition: 0.8s;

}

#btn:hover
{
    transform:scale(0.96);
}

.sign-in-form a
{
    text-decoration: none;
    color: #000;
    font-family: 'Ubuntu',sans-serif;
    padding: 10px;
    transition: 0.8s;
    display: block;
}

.sign-in-form a:hover{
    background: rgba(0, 0,0,0.3);
    color:#fff ;
}

/* signup page css */
